<?xml version="1.0"?>
<robot name="origins">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>


  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.3 0.55 0.27"/>
      </geometry>
      <material name="blue"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>


  <link name="stick_link">
    <visual>
      <geometry>
        <cylinder length="1.2" radius="0.02"/>
      </geometry>
      <material name="white"/>
      <origin rpy="0 0 0" xyz="0 0 0.5"/>
    </visual>
  </link>


  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="stick_link"/>
    <origin rpy="0.0 -0.7 0.0" xyz="-0.15 0 0.13"/>
  </joint>

  <link name="right_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.07" radius="0.091"/>
      </geometry>
      <material name="black"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="right_front_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin rpy="0 0 0" xyz="0 0.2 -0.14"/>
  </joint>

  <link name="left_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.07" radius="0.091"/>
      </geometry>
      <material name="black"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="left_front_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin rpy="0 0 0" xyz="0 -0.2 -0.14"/>
  </joint>


</robot>
